html, body{
    background-color : #000;
    padding: 1vw;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #FFF !important;
    font-weight: lighter;
    font-size: 1vh;
}

input, label, button, p{
    border: none;
    background-color: transparent;
    color : #FFF;
    width : 100%;
    font-size: 3vh;
}

button{
    margin-top : 3vw;
    transform: background-color ease .5;
}

button:hover, button:active, button:focus{

    background-color : #FFF;
    color : #000;
}

button:focus, input:focus {
    outline:0;
}

.messageContainer, h1{
    text-transform: uppercase;
    font-size: 5vw;
}

.input-container, button{
    border: 2px #FFF solid;
    border-radius: 0.75vw;
    padding: 0.5vw 1vw;
}

.news-content{
    width : 100%;
}

.news-content div{
    float:left;
}

.news-content div:first-child{
    margin-right : 1vh;
}

.break{
    clear : both;
}

.image-container{
    height: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: -80px;
    margin-left: -80px;
}

.img-list {
  margin:0 auto;
}

.img-list ol,
.img-list ul {
  list-style:none;
}

.img-list-gutter {
  padding:0;
}

.img-list-item {
  border-bottom:1px solid #c2c2c2;
  padding-bottom:2em;
  margin-bottom:2em;
}

.img-list-text {
  padding: 1em 0;
}

@media (min-width:600px) {

  .image-list-gutter {
    display:table;
  }

  .img-list-image,
  .img-list-text {
    display:table-cell;
    vertical-align:top;
  }

  .img-list-text {
    padding: 0 0 0 38px;
  }

  .img-list-image {
    min-width:280px;
  }

  .img-list-src {
    width:100%;
    max-width:356px;
  }

}

@media (min-width:764px) {

  .img-list-text {
    padding: 0 0 0 48px;
  }

  .img-list-image {
    min-width:356px;
    max-width:356px;
  }

}

.previsao-container{
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
}

.previsao-info{
    font-size: 3vh;
}

.previsao-media{
    font-size: 8vh;
    text-align: center;
}

.previsao-minmax{
    font-size: 3vh;
    padding-top: 6.5vh;
}