<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>SmartMirror</title>
    <link href="{{ url_for('static', filename='sources/css/style.css') }}" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='sources/js/client-socketio.js') }}"></script>
    <script src="{{ url_for('static', filename='sources/js/jquery.js') }}"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
</head>
<body>
    <script type="text/javascript" src="{{ url_for('static', filename='sources/js/script.js') }}"></script>
    <h1>Cadastrar Usuário</h1>
    <div id="messages" class="messageContainer"></div>
    <div class="createUser-form">
        <label for="nome">Nome</label>
        <div class="input-container">
            <input id="nome" />
        </div>
        <button>Iniciar Cadastramento</button>
    </div>
</body>
</html>